:root {
  text-size-adjust: 100%;
}

body, html {
  font-family: "Roboto", sans-serif;
  background: white;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #FFC700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

ul {
  padding: 1em;
  margin: 0;  
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.app-name {
  color: #FFC700;
}

.home-container {
  display: flex;
  flex-direction: row;
}

.icon {
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  color: #FFC700;
  width: 50px;
  height: 50px;
  transition: all .2s ease-in-out;
  text-decoration: none;

  &:hover {
    transform: scale(1.2);
}
}

.nav-item {
  text-decoration: none;
}

.page-container {
  margin: 4em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.name-photo {
  display: flex;
  gap: 1em;

  input {
    width: 50%;
  }
}

.textbox, .content-textbox {
  display: block;
  background-color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 1em;
  margin: 0;

  &::placeholder {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: rgba($color: #FFC700, $alpha: 0.8);
  }
}

.content-textbox {
  &::placeholder { padding: 0; }
}

.submit-button {
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 10px;
  font-size: large;
  background-color: #FFC700;
  color: white;
}
  
@media only screen and (max-width: 600px)  {
  .name-photo {
    flex-direction: column;

    input {
      width: auto;
    }
  }
}
